{% extends 'base.html' %}
{% load static %}

{% block pagetitle %}Albums{% endblock %}
{% block title %}Albums{% endblock %}
{% block back %}{% url 'welcome' %}{% endblock %}
{% block buttons %}
  <a class="button" href="{% url 'records:create_record' %}">
    <i class="fi-plus"></i>
    Album
  </a>
{% endblock %}
{% block pagecontent %}
{% if records_list %}
    <ul>
    {% for record in records_list %}
        <li><a href="{% url 'records:detail' record.id %}">{{ record.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay albums registrados.</p>
{% endif %}
{% endblock %}

{% block pagescripts %}
  <script src="{% static 'records/records/index.js' %}"></script>
{% endblock %}